/* TopBar.css */
/* .custom-navbar {
    position: sticky !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    height: 50px;
}


.navbar-nav .nav-link {
    transition: color 0.3s;  
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;  
}

.dropdown-item:hover {
    background-color: #f8f9fa;  
}


@media (max-width: 768px) {
    .navbar-collapse {
      background-color: rgba(255, 255, 255, 0.9);  
    }
  
    .navbar-nav .nav-link, 
    .navbar-nav .nav-item .dropdown-menu {
      background-color: white;  
    }
  }
   */

   .custom-navbar {
    position: sticky !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 40px;
    background-color: #ffffff;
    border-bottom: 1.5px solid #2c3e50;
}

.custom-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2c3e50;
}

.custom-navbar .navbar-brand:hover {
    color: #34495e;
}

.navbar-nav .nav-link {
    color: #2c3e50;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #3498db;
    text-decoration: underline;
}

.navbar-nav .nav-item .dropdown-menu {
    border: 1px solid #2c3e50;
}

.dropdown-item {
    color: #2c3e50;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: #34495e;
}

.user-menu .nav-link {
    color: #2c3e50;
}

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-nav .nav-link,
    .navbar-nav .nav-item .dropdown-menu {
        background-color: white;
    }
}

.navbar-nav .nav-item .nav-link {
    color: #2c3e50;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #3498db;
}

.navbar-nav .nav-item .dropdown-item.onClick:hover {
    color: #e74c3c;
}
