/* GLOBAL STYLES */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Set the default font for the entire app */
html {
    font-family: 'Roboto', sans-serif;  
    font-size: 0.875rem;
    color: #333;
    /* background-color: #f4f6f8; */
    line-height: 1.6;
}

/* Modal Titles and Buttons */
.modal-title {
    font-size: 1.125rem;
    font-weight: 500;
    color: #e74c3c; /* Red for attention */
}

/* Button styles for consistency */
button {
    font-family: 'Roboto', sans-serif;
    /* font-size: 0.875rem;
    padding: 8px 12px;
    border-radius: 4px; */
}

/* Specific button variations */
button.btn-secondary {
    background-color: #dfe4ea;
    color: #34495e;
}

button.btn-danger {
    background-color: #e74c3c;
    color: #fff;
}

/* GLOBAL STYLES END */

/* Sidebar styles */
.sidebar {
  background-color: #f8f9fa;
  height: 100vh;
  transition: left 0.3s ease, width 0.3s ease; /* Sidebar sliding */
}



/* Media query for small screens */
@media (max-width: 768px) {
  .sidebar {
    left: -200px; /* Hide sidebar by default on small screens */
    width: 200px;
  }

  .sidebar.open {
    left: 0; /* Show sidebar when open */
  }

  .main-content {
    margin-left: 0 !important; /* Full width for content on small screens */ 
  }
}


.form-label {
  font-size: 0.9rem;                 
  font-weight: 500;                                   
  text-transform: none;             
  margin-bottom: 2px;           
  display: inline-block;             
  padding-bottom: 0;              
  transition: border-color 0.3s ease;  
}

/* .toggle-button{
  position: 'fixed',
            top: '10px',
            left: '0',
            bottom: '0',
            zIndex: 1100,
            background: 'none',
            border: 'none',
            color: isSidebarOpen ? '#fff' : '#333',
            fontSize: '15px',
            cursor: 'pointer',
            paddingLeft: '0px'
} */











